.first{
    background-color: rgb(1, 2, 31);
         padding: 0 20px;
}
.heading{
    color: white;
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    align-items: center; 
    justify-content: center;
}